<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Word Picker</title>
</head>
<body>
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">Word Picker</h1>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-12">
            <h3 class="text-center">Letras na posição correta (colocar em ordem)</h3>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-auto">
            <input type="text" class="letter-box-match" maxlength="1" id="0">
        </div>
        <div class="col-auto">
            <input type="text" class="letter-box-match" maxlength="1" id="1">
        </div>
        <div class="col-auto">
            <input type="text" class="letter-box-match" maxlength="1" id="2">
        </div>
        <div class="col-auto">
            <input type="text" class="letter-box-match" maxlength="1" id="3">
        </div>
        <div class="col-auto">
            <input type="text" class="letter-box-match" maxlength="1" id="4">
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-12">
            <h3 class="text-center">Letras que existem na palavra</h3>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-auto">
            <input type="text" class="letter-box-guess" maxlength="1" id="0">
        </div>
        <div class="col-auto">
            <input type="text" class="letter-box-guess" maxlength="1" id="1">
        </div>
        <div class="col-auto">
            <input type="text" class="letter-box-guess" maxlength="1" id="2">
        </div>
        <div class="col-auto">
            <input type="text" class="letter-box-guess" maxlength="1" id="3">
        </div>
        <div class="col-auto">
            <input type="text" class="letter-box-guess" maxlength="1" id="4">
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-12">
            <h3 class="text-center">Letras que não existem na palavra</h3>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-auto">
            <input class="letter-wrong" type="checkbox" value="q">Q
            <input class="letter-wrong" type="checkbox" value="w">W
            <input class="letter-wrong" type="checkbox" value="e">E
            <input class="letter-wrong" type="checkbox" value="r">R
            <input class="letter-wrong" type="checkbox" value="t">T
            <input class="letter-wrong" type="checkbox" value="y">Y
            <input class="letter-wrong" type="checkbox" value="u">U
            <input class="letter-wrong" type="checkbox" value="i">I
            <input class="letter-wrong" type="checkbox" value="o">O
            <input class="letter-wrong" type="checkbox" value="p">P
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-auto">
            <input class="letter-wrong" type="checkbox" value="a">A
            <input class="letter-wrong" type="checkbox" value="s">S
            <input class="letter-wrong" type="checkbox" value="d">D
            <input class="letter-wrong" type="checkbox" value="f">F
            <input class="letter-wrong" type="checkbox" value="g">G
            <input class="letter-wrong" type="checkbox" value="h">H
            <input class="letter-wrong" type="checkbox" value="j">J
            <input class="letter-wrong" type="checkbox" value="k">K
            <input class="letter-wrong" type="checkbox" value="l">L
        </div>
    </div>


    <div class="row justify-content-center">
        <div class="col-auto">
            <input class="letter-wrong" type="checkbox" value="z">Z
            <input class="letter-wrong" type="checkbox" value="x">X
            <input class="letter-wrong" type="checkbox" value="c">C
            <input class="letter-wrong" type="checkbox" value="v">V
            <input class="letter-wrong" type="checkbox" value="b">B
            <input class="letter-wrong" type="checkbox" value="n">N
            <input class="letter-wrong" type="checkbox" value="m">M
        </div>
    </div>

    <div class="row justify-content-center mt-3">
        <div class="col-auto">
            <input type="radio" name="language" value="portuguese" checked="true">
            <label class="form-check-label" for="language">
                Português
            </label>
        </div>
        <div class="col-auto">
            <input type="radio" name="language" value="english">
            <label class="form-check-label" for="language">
                Inglês
            </label>
        </div>
    </div>

    <div class="row justify-content-center mt-3">
        <div class="col-auto">
            <button type="submit" id="submit" class="btn btn-primary">Enviar</button>
        </div>
    </div>

    <div class="row justify-content-center mt-3">
        <div class="col-auto">
            <table>
                <thead>
                    <tr>
                        <th colspan="8" class="text-center">Possibilidades</th>
                    </tr>
                </thead>
                <tbody id="possibilities">
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>

<style>

    tbody th {
        border: 1px solid black;
    }

    th { 
        padding: 10px;
    }

    .letter-box-match, .letter-box-guess, .letter-box-wrong {
        width: 40px;
        height: 40px;
        text-align: center;
    }

</style>

<link href="https://carlos-word-picker.herokuapp.com/css/bootstrap.min.css" rel="stylesheet">
<script src="https://carlos-word-picker.herokuapp.com/js/index.js" ></script>